*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "PT Sans Narrow", Helvetica, Verdana, sans-serif;
}

h1, h2, p {
    color: #ffffff;
}

#searchContainer {
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #607D8B;
    padding: 1em;
}

#searchBox {
    margin: 0 auto;
    display: block;
    padding: 0.5em;
    height: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    border-radius: 2em;
    outline: none;
}

#searchButton, #closeAlbumList, #closeTrackList {
    margin: 0.5em auto 0 auto;
    height: 2em;
    padding: 0.5em;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    line-height: 1em;
}

ul {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#resultList, #albumList {
    margin-top: 1em;
    list-style: none;
    text-align: center;
}

#resultList li, #albumList li {
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#resultList li:nth-child(even), #albumList li:nth-child(even) {
    border-right: 1px solid black;
    border-left: none;
}

#resultList li a::before, #albumList li a::before {
    content: "Spotify link: ";
    font-weight: bold;
}

#resultList li img, #albumList li img {
    height: 150px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.hidden {
    display: none;
}

#albumBox {
    position: absolute;
    left: 2em;
    top: 2em;
    right: 2em;
    background: #eeeeee;
    border: 2px solid black;
    text-align: center;
    z-index: 5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#trackBox {
    position: absolute;
    left: 4em;
    top: 4em;
    right: 4em;
    background: #dddddd;
    border: 2px solid black;
    text-align: center;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#trackList {
    text-align: left;
}

a:link {
    color: #607D8B;
}

a:visited {
    color: #607D8B;
}

a:hover {
    color: #607D8B;
}

a:active {
    color: #607D8B;
}

#albumBoxMask {
    z-index: 3;
}

#trackBoxMask {
    z-index: 7;
}

#albumBoxMask, #trackBoxMask {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#backToTop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    z-index: 15;
    border: 1px solid #000000;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
    text-transform: uppercase;
    line-height: 4em;
    cursor: pointer;
    background: #ffffff;
}

@media screen and (max-width: 640px) {
    #albumBox {
        left: 0.5em;
        top: 0.5em;
        right: 0.5em;
    }
    
    #trackBox {
        left: 1em;
        top: 1em;
        right: 1em;
    }

    #resultList li, #albumList li {
        max-width: 90%;
    }

    #backToTop {
        bottom: 1rem;
        right: 1rem;
    }
}
